fastapi
tensorflow-cpu
keras
numpy
pandas
pandas_gbq
protobuf
python_dateutil
requests
requests_html
scikit_learn
selectorlib
starlette
uvicorn
gunicorn
google-cloud
google-auth
pandas-gbq
